---
---

@charset 'utf-8';

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#toc a {
    color: #696969;
}

footer {
    color: darkgrey;
    margin: 20px 0px 20px;
}

#logo {
    position: fixed;
}

#page-title, #content-container {
    margin-left: 25%;
}

.page-source {
    background-color: #add8e6;
    padding: 1em;
    text-align: center;
    opacity: 0.9;
}

/* On small screens we remove left column to make text more readable */
@media screen and (max-width: 40em) {
    #toc {
        display: none;
    }
    #logo {
        display: none;
    }
    #page-title, #content-container {
        margin-left: 0;
    }
}
