---
layout: default
---

  <!-- Announcement we can keep for 1 month or more. I remove it and re-add it from time to time. -->
  <p class="announce">
    📢 🤶 ⭐
    <a style="font-size: 120%" href="https://www.udemy.com/course/common-lisp-programming/?couponCode=LISPY-XMAS2023" title="This course is under a paywall on the Udemy platform. Several videos are freely available so you can judge before diving in. vindarel is (I am) the main contributor to this Cookbook."> Discover our contributor's Lisp course with this Christmas coupon.</a>
     <strong>
        Recently added: 18 videos on MACROS.
     </strong>
    <a style="font-size: 90%" href="https://github.com/vindarel/common-lisp-course-in-videos/">Learn more</a>.
  </p>
  <p class="announce-neutral">
   📕 <a href="/cl-cookbook/#download-in-epub">Get the EPUB and PDF</a>
  </p>


<div id="content"
  {{ content }}

  <p class="page-source">
    Page source: <a href="https://github.com/LispCookbook/cl-cookbook/blob/master/{{ page.path }}">{{ page.path }}</a>
  </p>
</div>

<script type="text/javascript">

 // Don't write the TOC on the index.
 if (window.location.pathname != "/cl-cookbook/") {
   $("#toc").toc({
     content: "#content",  // will ignore the first h1 with the site+page title.
     headings: "h1,h2,h3,h4"});
 }

 $("#two-cols + ul").css({
   "column-count": "2",
 });
 $("#contributors + ul").css({
   "column-count": "4",
 });
</script>
