---
layout: default
---


<div id="content"
  {{ content }}

  <p class="page-source">
    Page source: <a href="https://github.com/LispCookbook/cl-cookbook/blob/master/{{ page.path }}">{{ page.path }}</a>
  </p>
</div>

<script type="text/javascript">

 // Don't write the TOC on the index.
 if (window.location.pathname != "/cl-cookbook/") {
   $("#toc").toc({
     content: "#content",  // will ignore the first h1 with the site+page title.
     headings: "h1,h2,h3,h4"});
 }

 $("#two-cols + ul").css({
   "column-count": "2",
 });
 $("#contributors + ul").css({
   "column-count": "4",
 });
</script>
