<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<!-- 	$Header$	 -->
<html> <head>
    <title>The Common Lisp Cookbook - Foreign Function Interfaces</title>
    <style type="text/css">
      pre { margin-left:20px; background-color:#e0e0e0 }
    </style>

  </head>

  <body bgcolor=white>
    {{ content }}
    <hr>
    <a href="license.html">Copyright</a> &copy; 2002-2007 The Common Lisp Cookbook Project
    <address>http://cl-cookbook.sourceforge.net/</address>
    <br>$Header$
  </body>
</html>
